/* .doodle {
    position: relative; 
} */
/* 
.doodle::before {
    content: ""; 
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('public/images/doodles/myhero_background.jpg'); 
    opacity: 0.; 
    z-index: -1; 
} */
 
/* .hero {
    height: 100vh;
    width: 100%;
}  */

.hero {
    height: calc(100vh-100px);
    background: linear-gradient(180deg, #0c0c1d, #111132);
}

.slidingTextContainer {
    /* text-align: center; */
    position: absolute;
    font-size:50vh;
    bottom: -200px;
    white-space: nowrap;
    color: #ffffff09;
    font-weight: bold;
    width: 100%;

}