.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  /* .getsomebg { */
    /* height: 200vh; */
  
  /* } */
  
  /* .getsomebg {  */
    /* height: calc(100vh-100px); */
    /* background: linear-gradient(180deg, #111132, #0c0c1d);  */
     /* margin: 100px; */
  /* }  */